body {
  background-color: white;
  font-family: "Lato", sans-serif;
  line-height: 1.6;
}

h1 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

.title {
  height: 400px;
  background-color: #047aed;
  color: white;
  position: relative;
}

.title h1 {
  font-size: 40px;
}
